<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800">

    <header class="p-6 bg-white shadow mb-8">
        <div class="max-w-4xl mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Perfil de Usuario</h1>
            <a href="/api/sessions/logout">
                <button class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition">
                    Logout
                </button>
            </a>
        </div>
    </header>

    <main class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow">

        {{#if error}}
        <div class="bg-red-500 text-white p-3 rounded-md mb-4 text-center">
            <p>Usuario no autorizado, por favor inicie sesión</p>
        </div>
        {{/if}}
        {{!-- {{log user}} --}}
        <div class="space-y-4">
            <div><span class="font-semibold">Nombre:</span> {{user.first_name}}</div>
            <div><span class="font-semibold">Apellido:</span> {{user.last_name}}</div>
            <div><span class="font-semibold">Email:</span> {{user.email}}</div>
            <div><span class="font-semibold">ID usuario:</span> {{user.id}}</div>
            <div><span class="font-semibold">Rol:</span> {{user.role}}</div>
            <div><span class="font-semibold">ID carrito:</span> {{user.cart}}</div>
        </div>

    </main>

</body>

</html>