<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1 class="m-10 text-center text-5xl">Detalle del Producto</h1>
    {{#if producto}}
            {{#if producto.discount}}
                <h3 class="text-red-500">{{producto.title}}</h3>
            {{else}}
                <div class="m-10 flex center flex-col items-center bg-violet-500 text-2xl">
                    <h3 class="m-5">{{producto.title}}</h3>
                    <div class="m-5 w-1/3"><p>{{producto.description}}</p></div>
                    <span class="m-5 "><p>Precio: {{producto.price}}</p></span>
                    <span class="m-5 "><p>Stock: {{producto.stock}}</p></span>
                    <span class="m-5"><p>Code: {{producto.code}}</p></span>
                    <span><p>Descuento:{{#if producto.discount}}
                                            {{producto.discount}}
                                        {{else}}
                                            -
                                        {{/if}}
                    </p></span>
                </div> 
            {{/if}}
    {{else}}
        <p>No hay productos</p>
    {{/if}}
</body>
</html>
