<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header class="m-10">
        <div class="flex justify-between">
            <div>
            <h1>Profile</h1>
            </div>
            <div>
                <a href="/logout"><button id="logout" class="bg-red-600">Logout</button></a>
            </div>
        </div>
    </header>
    <main class="m-10">
        <div>
                <div>name: {{perfil.name}}</div>
                <div>Lastname: {{perfil.lastname}}</div>
                <div>Email: {{perfil.email}}</div>
                <div>Age: {{perfil.age}}</div>
                <div>Role: {{perfil.role}}</div>
            </div>
    </main>
</body>
</html>